<div class="row">
    <div class="col-lg-12">
        <div class="search-result-box card-box">
           <h4 class="header-title">Liste des {{(authority=='admin')?'professeurs':'élèves'}} ({{data.length}})  <span class="pull-right">
               <button nz-button nzType="primary" (click)="showModal()">
                      <span>Nouveau</span>
                </button>
           </span></h4>
            <div><br/></div> 

            <nz-table #filterTable [nzData]="displayData">
		      <thead (nzSortChange)="sort($event)" nzSingleSort>
		        <tr>
		          <th nzShowSort nzSortKey="name">Nom</th>
		          <th nzShowSort nzSortKey="lastName">Prénom</th>
		          <th nzShowSort nzSortKey="username">UserName</th>
		          <th nzShowSort nzSortKey="email">Email</th>
              <th>Actions</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr *ngFor="let data of filterTable.data">
		          <td>{{data.name}}</td>
		          <td>{{data.lastName}}</td>
		          <td>{{data.username}}</td>
		          <td>{{data.email}}</td>
              <td>
                <button nz-popconfirm nzTitle="êtes-vous sûr de vouloir supprimer ce user ?" (nzOnConfirm)="delete_user(data)" nzOkText="Oui" nzCancelText="non" nzPlacement="leftBottom" nz-button ><i class="fa fa-trash"></i></button>

                <button nz-button (click)="to_update(data)"><i class="fa fa-pencil"></i></button>

              </td>
		        </tr>
		      </tbody>
		    </nz-table>
              
                     
        </div>
    </div>
</div>





     
<nz-modal [(nzVisible)]="isVisible" [nzWidth]="800" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="handleCancel()">
    
      <ng-template #modalTitle>
        Ajouter un  {{(authority=='admin')?'nouveau professeur':'nouvel élève'}}
      </ng-template>

      <ng-template #modalContent>
        <form nz-form  [formGroup]="validateForm" (ngSubmit)="handleOk(validateForm.value)">
          
	    <nz-alert *ngIf="errorMessage" nzType="error" nzMessage="{{errorMessage}}"></nz-alert>

        <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
          <span>
            Nom
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="name" formControlName="name">
          <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">Please input your nickname!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>
          <span>
            Prénom
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="lastName" formControlName="lastName">
          <nz-form-explain *ngIf="validateForm.get('lastName').dirty && validateForm.get('lastName').errors">Please input your nickname!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      


        <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="email" id="email">
          <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Mot de passe</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your password!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirmer mot de passe</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
          <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
            <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
              Please confirm your password!
            </ng-container>
            <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
          <span>
            UserName
            <i nz-icon nz-tooltip nzTitle="Ce nom utilisé pour l'authentification: unique" type="question-circle" theme="outline"></i>
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="nickname" formControlName="nickname">
          <nz-form-explain *ngIf="validateForm.get('nickname').dirty && validateForm.get('nickname').errors">Please input your nickname!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
       
       <nz-form-item>
               <nz-form-control>
                   <button nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid" [nzLoading]="isConfirmLoading">Enregistrer</button>  
               </nz-form-control>
        </nz-form-item>

        </form>      
      </ng-template>
 
      
    </nz-modal> 

