<div class="row">
    <div class="col-lg-12">
        <div class="search-result-box card-box">
           <h4 class="header-title" (click)="list=true" style="cursor: pointer;">Mes projets</h4>     
        </div>
    </div>
</div>

<div *ngIf="list" class="row"> 
<div class="col-xl-4" *ngFor="let p of projet">
                                <div class="card-box project-box">
                                    

                                    <h4 class="mt-0 mb-3"><a (click)="show_detail(p)" class="text-dark">{{p.projet.nom}}</a>
									                  
                                    <i  *ngIf="authority=='eleve'" class="fa fa-eye" (click)="show_detail(p)" style="float: right;cursor: pointer;"></i>   
                                    </h4>

                                    <div  *ngIf="authority=='professeur'" class="dropdown float-right" style="    margin-top: -40px!important;">
                                        <a class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(24px, 31px, 0px);">
                                            <a class="dropdown-item" (click)="show_detail(p)">Détails</a>
                                            <a class="dropdown-item">Modifier</a>
                                            <a class="dropdown-item">Supprimer</a> 
                                            <a class="dropdown-item">Groupes</a> 
                                        </div>
                                    </div>

                                   	  


                                    <p class="text-muted font-13">
                                    	{{p.projet.description}}			
                                    <a   class="font-600 text-muted" (click)="show_detail(p)">Voire plus</a>
                                    <br/>
                                    </p>
                                     


                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <h3 class="mb-0">{{p.nbr_phase}}</h3>
                                            <p class="text-muted">Phases</p>
                                        </li>
                                        <li class="list-inline-item">
                                            <h3 class="mb-0">{{p.nbr_tache}}</h3>
                                            <p class="text-muted">Taches</p>
                                        </li>
                                        <li class="list-inline-item">
                                            <h3 class="mb-0">{{p.nbr_sous_tache}}</h3>
                                            <p class="text-muted">Sous taches</p>
                                        </li>
                                    </ul>

                                    <div class="project-members mb-4" *ngFor="let g of p.groupes">
                                      <div *ngIf="g.groupe.id==my_groupe(p).id ||authority=='professeur'">
                                        <label class="mr-3">{{g.groupe.nom}} :</label>
                                        <a *ngFor="let u of g.users" title="{{u.user1.name}}  {{u.user1.lastName}}">
                                            <img src="{{g_var.url}}api/auth/files/{{u.user1.id}}" class="rounded-circle thumb-sm" alt="friend" />
                                        </a>
                                      
                                        <br/>
                                        <label class="">Tache complet: <span class="text-custom">{{g.task_complet}}/{{p.nbr_tache}}</span></label>
                                    
                                        <nz-progress [nzPercent]="g.percent"></nz-progress>

                                        </div> 

                                    </div>

                                    

                                </div>
                            </div>
 </div>

 <div class="row" *ngIf="!list">
                            <div class="col-lg-8">
                                <div class="card-box task-detail" *ngIf="!show_tache">
                                    <h4 class="m-b-20">{{detail.projet.nom}}</h4>


                                    <div  *ngIf="authority=='professeur'" class="dropdown float-right" style="    margin-top: -40px!important;">
                                        <a class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(24px, 31px, 0px);">
                                            <a class="dropdown-item" (click)="to_add_phase()">Nouvelle phase</a>
                                            <a class="dropdown-item">Groupes</a> 
                                        </div>
                                    </div>


                                    <p class="text-muted">
                                        {{detail.projet.description}}
                                    </p>
 
                                    <ul class="list-inline task-dates m-b-0 mt-5">
                                        <li>
                                            <h5 class="m-b-5">Date Début</h5>
                                            <p> {{detail.projet.dateDebut| slice:0:10}}</p>
                                        </li>

                                        <li>
                                            <h5 class="m-b-5">Date Fin</h5>
                                            <p> {{detail.projet.dateFin| slice:0:10}}</p>
                                        </li>
                                    </ul>

                                    <div class="clearfix"></div>
  
                                    <div class="assign-team mt-4" *ngFor="let g of detail.groupes">
                                      <div *ngIf="g.groupe.id==my_groupe(detail).id ||authority=='professeur'">
                                        <h5 class="m-b-5">{{g.groupe.nom}}</h5>
                                        <div>
                                            <a *ngFor="let u of g.users" title="{{u.user1.name}}  {{u.user1.lastName}}"> <img class="rounded-circle thumb-sm" alt="64x64" src="{{g_var.url}}api/auth/files/{{u.user1.id}}"> </a> 
                                        </div>
                                      </div>  
                                    </div>

                                    <div class="attached-files mt-4">
                                        <h5 class="">les documents de projet </h5>
                                        <div class="files-list">
                                            <div class="file-box" *ngFor="let d of detail.documentProjets">
                                                <a href="{{g_var.url}}api/auth/docs/{{d.id}}" target="_blank"><img src="assets/img/file.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
                                                <p class="font-13 mb-1 text-muted"><small>{{d.document}}</small></p>
                                                
                                                <a *ngIf="authority=='professeur'" nz-popconfirm nzTitle="êtes-vous sûr de vouloir supprimer ce document ?" (nzOnConfirm)="delete_document(d.id)" nzOkText="Oui" nzCancelText="non" nzPlacement="rightBottom">Supprimer</a>

                                            </div>
                                            <div class="file-box ml-3" *ngIf="authority=='professeur'">
                                                <a (click)="showModalDoc()"><span class="add-new-plus"><i class="mdi mdi-plus"></i> </span></a>
                                            </div>
                                        </div>                                        
                                    </div>

                                </div>

                                <div class="card-box task-detail" *ngIf="show_tache">
                                	<h4 class="m-b-20">Tache : {{tache.tache.nom}}</h4>
								                  	<p class="text-muted">
                                        {{tache.tache.description}}
                                    </p>

                                    <div class="attached-files mt-4">
                                        <h5 class="">Production de la tache </h5>
                                        <div class="files-list">
                                            <div *ngIf="get_my_production(tache)" class="file-box">
                                                <a  href="{{g_var.url}}api/auth/production/{{get_my_production(tache).id}}" target="_blank"><img src="assets/img/file.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
                                                <p class="font-13 mb-1 text-muted"><small>{{get_my_production(tache).fileName}}</small></p>
                                            </div>
                                            <div *ngIf="!get_my_production(tache)" class="file-box ml-3">
                                                <a><span class="add-new-plus" (click)="showModal()"><i class="mdi mdi-plus"></i> </span></a>
                                            </div>
                                            <div *ngIf="get_my_production(tache)" class="file-box ml-3">
                                                 <a nz-popconfirm nzTitle="êtes-vous sûr de vouloir supprimer votre production ?" (nzOnConfirm)="delete_production(get_my_production(tache))" nzOkText="Oui" nzCancelText="non" nzPlacement="rightBottom"><span class="add-new-plus"><i class="mdi mdi-close"></i></span></a>

                                            </div>
                                        </div>                                        
                                    </div>

                                    <div>
										<h5 class="">Les sous taches ({{tache.sousTaches.length}}) 
                          <span style="cursor: pointer;" (click)="to_add_s_tache()" class="pull-right">
                            <i class="fa fa-plus"></i>&nbsp; nouvelle sous tache  
                           </span> 
                    </h5>

										<ul style="padding-left: 15px!important;" *ngFor="let s of tache.sousTaches" >
											<li>
												<p class="m-b-0 font-13" style="margin-bottom: 0;"><b>{{s.nom}}</b></p> 
												<p class="m-b-0 font-13" style="margin-bottom: 0;">{{s.description}}</p>
							   			

                      <div  *ngIf="authority=='professeur'" class="dropdown float-right" style="    margin-top: -40px!important;">
                                        <a class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(24px, 31px, 0px);">
                                            <a class="dropdown-item" (click)="to_update_s_tache(s)">Modifier</a>
                                            <a class="dropdown-item">Supprimer</a> 
                                        </div>
                      </div>


                      </li>
										</ul>
                                    </div>

                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-4">
                                
                                
                                <div class="card-box" *ngFor="let p of detail.phases">
                                    <div>
                                       <h5>{{p.phase.nom}}

                                       <div  *ngIf="authority=='professeur'" class="dropdown float-right">
                                        <a class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(24px, 31px, 0px);">
                                            <a class="dropdown-item" (click)="to_update_phase(p)">Modifier</a>
                                            <a class="dropdown-item">Supprimer</a> 
                                            <a class="dropdown-item" (click)="to_add_tache()">Nouvelle tache</a> 
                                        </div>
                                       </div>

                                       </h5> 
                                       <p class="text-muted">{{p.phase.dateDebut| slice:0:10}} &nbsp; <i class="fa fa-arrow-right"></i>&nbsp;{{p.phase.dateFin| slice:0:10}} 
                                         

                                       </p>
                                        <p (click)="p.show=!p.show" class="m-b-0 font-13"> 
                                         <span style="cursor: pointer;" class="pull-right">
                                          <i class="fa fa-arrow-{{p.show?'up':'down'}}"></i>&nbsp;  
                                         ({{p.taches?p.taches.length:0}}) taches&nbsp;
                                          <i class="fa fa-arrow-{{p.show?'up':'down'}}"></i>    
                                         </span>
                                        </p>
                                        <br/> 
                                        <div *ngIf="p.show">
	                                        <div *ngFor="let t of p.taches" [ngStyle]="{'background-color':(is_my_task(t)==true||authority=='professeur') ? '#e8e8e8' : ''}">
	                                        	<div style="margin-left: 15px;">
	                                        		<h6 style="padding-top: 5px;"><a (click)="show_task(t)" *ngIf="is_my_task(t)||authority=='professeur'"><i class="fa fa-tasks"></i></a>&nbsp; {{t.tache.nom}}   


	                                        	      	<div *ngIf="cordinateur">
                                                      
                                                      <a *ngIf="get_production(t)" href="{{g_var.url}}api/auth/production/{{get_production(t).id}}" target="_blank"><i class="fa fa-download pull-right" style="    padding-right: 10px;padding-top: 5px;"></i></a>

                                                    </div>


                                                    <div  *ngIf="authority=='professeur'" class="dropdown float-right">
                                                      <a class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false">
                                                          <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                                                      </a>
                                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(24px, 31px, 0px);">
                                                          <a class="dropdown-item" (click)="to_update_tache(t)">Modifier</a>
                                                          <a class="dropdown-item">Supprimer</a> 
                                                          <a class="dropdown-item" (click)="show_productions(t)">Productions</a> 
                                                          <a class="dropdown-item">Affectations</a> 
                                                      </div>
                                                     </div>
 

	                                        		</h6>	
	                                        		<p class="text-muted font-12">{{t.tache.dateDebut| slice:0:10}} &nbsp; <i class="fa fa-arrow-right"></i>&nbsp;{{t.tache.dateFin| slice:0:10}} </p>
	                                        	</div>
	          								</div>
          								</div>

                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>
  

                 <nz-modal [(nzVisible)]="isVisible" [nzWidth]="400" [nzTitle]="modalTitle" [nzContent]="modalContent"  [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    
				      <ng-template #modalTitle>
				        Production de la tache
				      </ng-template>

				      <ng-template #modalContent>


				      <div class="clearfix">
					    <nz-upload
					      nzAction=""
					      nzListType="picture-card"
					      [(nzFileList)]="fileList"
					      [nzShowButton]="fileList.length < 1"
					      [nzPreview]="handlePreview">
					        <i nz-icon type="plus"></i>
					        <div class="ant-upload-text">Upload</div>
					    </nz-upload>
					    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
					      <ng-template #modalContent>
					        <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
					      </ng-template>
					    </nz-modal>
					  </div>

				      </ng-template>

				      <ng-template #modalFooter> 
				        <button nz-button nzType="default" (click)="handleCancel()">Annuler</button>
				        <button nz-button nzType="primary" (click)="handleOk()">Confirmer</button>
				      </ng-template>
				  
				</nz-modal>

                <nz-modal [(nzVisible)]="isVisibleDoc" [nzWidth]="400" [nzTitle]="modalTitle1" [nzContent]="modalContent1"  [nzFooter]="modalFooter1" (nzOnCancel)="isVisibleDoc=false">
    
                      <ng-template #modalTitle1>
                        Document du projet 
                      </ng-template>

                      <ng-template #modalContent1>


                      <div class="clearfix">
                        <nz-upload
                          nzAction=""
                          nzListType="picture-card"
                          [(nzFileList)]="fileList"
                          [nzShowButton]="fileList.length < 1"
                          [nzPreview]="handlePreview">
                            <i nz-icon type="plus"></i>
                            <div class="ant-upload-text">Upload</div>
                        </nz-upload>
                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                          <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                          </ng-template>
                        </nz-modal>
                      </div>

                      </ng-template>

                      <ng-template #modalFooter1> 
                        <button nz-button nzType="default" (click)="isVisibleDoc=false">Annuler</button>
                        <button nz-button nzType="primary" (click)="ajouter_doc()">Ajouter</button>
                      </ng-template>
                  
                </nz-modal>



                <nz-modal [(nzVisible)]="isVisibleProd" [nzWidth]="400" [nzTitle]="modalTitle2" [nzContent]="modalContent2"  [nzFooter]="modalFooter2" (nzOnCancel)="isVisibleProd=false">
    
                      <ng-template #modalTitle2>
                      Productions du projet
                      </ng-template>

                      <ng-template #modalContent2>


                      <div class="row" *ngFor="let p of productions">  
                           <div class="col-lg-8">{{p.eleve.lastName}} {{p.eleve.name}}</div> 
                           <div class="col-lg-4">
                              <a href="{{g_var.url}}api/auth/production/{{p.id}}" target="_blank"><i class="fa fa-download pull-right" style="padding-right: 10px;"></i></a>
                           </div> 
                       </div>


                      </ng-template>

                      <ng-template #modalFooter2> 
                        <button nz-button nzType="default" (click)="isVisibleProd=false">Fermer</button>  
                      </ng-template>
                  
                </nz-modal>



                <nz-modal [(nzVisible)]="isVisibleTache_Add" [nzWidth]="600" [nzTitle]="title_tache_add" [nzContent]="content_tache_add"  [nzFooter]="footer_tache_add" (nzOnCancel)="isVisibleTache_Add=false">
    
                      <ng-template #title_tache_add>
                        Nouvelle tache
                      </ng-template>

                      <ng-template #content_tache_add>
                        <div class="row">
                            <label class="col-12 col-form-label">Nom</label>
                            <div class="col-12">
                                <input type="text" placeholder="Nom de la tache" class="form-control" [(ngModel)]="tache_add.nom" />
                            </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Description</label>
                                <div class="col-12">
                                    <textarea class="form-control" placeholder="Description" [(ngModel)]="tache_add.description" rows="5"></textarea>
                                </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Durée de la tache</label>
                                <div class="col-12">
                                        <nz-range-picker 
                                          [(ngModel)]="tache_add.date"
                                          (ngModelChange)="onChange($event)"
                                        ></nz-range-picker>
                                </div>
                        </div>
                      </ng-template>

                      <ng-template #footer_tache_add> 
                        <button nz-button nzType="default" (click)="isVisibleTache_Add=false">Annuler</button>
                        <button nz-button nzType="primary"  [disabled]="!tache_add.description || !tache_add.nom" (click)="ajouter_tache()">Ajouter</button>
                      </ng-template>
                  
                </nz-modal>
 


                <nz-modal [(nzVisible)]="isVisibleTache_Update" [nzWidth]="600" [nzTitle]="title_tache_update" [nzContent]="content_tache_update"  [nzFooter]="footer_tache_update" (nzOnCancel)="isVisibleTache_Update=false">
    
                      <ng-template #title_tache_update>
                        Modifier tache
                      </ng-template>

                      <ng-template #content_tache_update>
                        <div class="row">
                            <label class="col-12 col-form-label">Nom</label>
                            <div class="col-12">
                                <input type="text" placeholder="Nom de la tache" class="form-control" [(ngModel)]="tache_update.nom" />
                            </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Description</label>
                                <div class="col-12">
                                    <textarea class="form-control" placeholder="Description" [(ngModel)]="tache_update.description" rows="5"></textarea>
                                </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Durée de la tache</label>
                                <div class="col-12">
                                        <nz-range-picker 
                                          [(ngModel)]="tache_update.date"
                                          (ngModelChange)="onChange($event)"
                                        ></nz-range-picker>
                                </div>
                        </div>
                      </ng-template>

                      <ng-template #footer_tache_update> 
                        <button nz-button nzType="default" (click)="isVisibleTache_Update=false">Annuler</button>
                        <button nz-button nzType="primary"  [disabled]="!tache_update.description || !tache_update.nom" (click)="modifier_tache()">Modifier</button>
                      </ng-template>
                  
                </nz-modal>



<nz-modal [(nzVisible)]="isVisiblePhase_Add" [nzWidth]="600" [nzTitle]="title_phase_add" [nzContent]="content_phase_add"  [nzFooter]="footer_tache_add" (nzOnCancel)="isVisiblePhase_Add=false">
    
                      <ng-template #title_phase_add>
                        Nouvelle phase
                      </ng-template>

                      <ng-template #content_phase_add>
                        <div class="row">
                            <label class="col-12 col-form-label">Nom</label>
                            <div class="col-12">
                                <input type="text" placeholder="Nom de la phase" class="form-control" [(ngModel)]="phase_add.nom" />
                            </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Description</label>
                                <div class="col-12">
                                    <textarea class="form-control" placeholder="Description" [(ngModel)]="phase_add.description" rows="5"></textarea>
                                </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Durée de la phase</label>
                                <div class="col-12">
                                        <nz-range-picker 
                                          [(ngModel)]="phase_add.date"
                                          (ngModelChange)="onChange($event)"
                                        ></nz-range-picker>
                                </div>
                        </div>
                      </ng-template>

                      <ng-template #footer_phase_add> 
                        <button nz-button nzType="default" (click)="isVisiblePhase_Add=false">Annuler</button>
                        <button nz-button nzType="primary"  [disabled]="!phase_add.description || !phase_add.nom" (click)="ajouter_phase()">Ajouter</button>
                      </ng-template>
                  
                </nz-modal>
 


                <nz-modal [(nzVisible)]="isVisiblePhase_Update" [nzWidth]="600" [nzTitle]="title_phase_update" [nzContent]="content_phase_update"  [nzFooter]="footer_phase_update" (nzOnCancel)="isVisiblePhase_Update=false">
    
                      <ng-template #title_phase_update>
                        Modifier phase
                      </ng-template>

                      <ng-template #content_phase_update>
                        <div class="row">
                            <label class="col-12 col-form-label">Nom</label>
                            <div class="col-12">
                                <input type="text" placeholder="Nom de la phase" class="form-control" [(ngModel)]="phase_update.nom" />
                            </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Description</label>
                                <div class="col-12">
                                    <textarea class="form-control" placeholder="Description" [(ngModel)]="phase_update.description" rows="5"></textarea>
                                </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Durée de la phase</label>
                                <div class="col-12">
                                        <nz-range-picker 
                                          [(ngModel)]="phase_update.date"
                                          (ngModelChange)="onChange($event)"
                                        ></nz-range-picker>
                                </div>
                        </div>
                      </ng-template>

                      <ng-template #footer_phase_update> 
                        <button nz-button nzType="default" (click)="isVisiblePhase_Update=false">Annuler</button>
                        <button nz-button nzType="primary"  [disabled]="!phase_update.description || !phase_update.nom" (click)="modifier_phase()">Modifier</button>
                      </ng-template>
                  
                </nz-modal>




                <nz-modal [(nzVisible)]="isVisible_s_Tache_Add" [nzWidth]="600" [nzTitle]="title_s_tache_add" [nzContent]="content_s_tache_add"  [nzFooter]="footer_s_tache_add" (nzOnCancel)="isVisible_s_Tache_Add=false">
    
                      <ng-template #title_s_tache_add>
                        Nouvelle sous tache
                      </ng-template>

                      <ng-template #content_s_tache_add>
                        <div class="row">
                            <label class="col-12 col-form-label">Nom</label>
                            <div class="col-12">
                                <input type="text" placeholder="Nom de la sous tache" class="form-control" [(ngModel)]="s_tache_add.nom" />
                            </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Description</label>
                                <div class="col-12">
                                    <textarea class="form-control" placeholder="Description" [(ngModel)]="s_tache_add.description" rows="5"></textarea>
                                </div>
                        </div>
 
                      </ng-template>

                      <ng-template #footer_s_tache_add> 
                        <button nz-button nzType="default" (click)="isVisible_s_Tache_Add=false">Annuler</button>
                        <button nz-button nzType="primary"  [disabled]="!s_tache_add.description || !s_tache_add.nom" (click)="ajouter_s_tache()">Ajouter</button>
                      </ng-template>
                  
                </nz-modal>
 


                <nz-modal [(nzVisible)]="isVisible_s_Tache_Update" [nzWidth]="600" [nzTitle]="title_s_tache_update" [nzContent]="content_s_tache_update"  [nzFooter]="footer_s_tache_update" (nzOnCancel)="isVisible_s_Tache_Update=false">
    
                      <ng-template #title_s_tache_update>
                        Modifier sous tache
                      </ng-template>

                      <ng-template #content_s_tache_update>
                        <div class="row">
                            <label class="col-12 col-form-label">Nom</label>
                            <div class="col-12">
                                <input type="text" placeholder="Nom de la sous tache" class="form-control" [(ngModel)]="s_tache_update.nom" />
                            </div>
                        </div>

                        <div class="row">
                                <label class="col-12 col-form-label">Description</label>
                                <div class="col-12">
                                    <textarea class="form-control" placeholder="Description" [(ngModel)]="s_tache_update.description" rows="5"></textarea>
                                </div>
                        </div>
 
                      </ng-template>

                      <ng-template #footer_s_tache_update> 
                        <button nz-button nzType="default" (click)="isVisible_s_Tache_Update=false">Annuler</button>
                        <button nz-button nzType="primary"  [disabled]="!s_tache_update.description || !s_tache_update.nom" (click)="modifier_s_tache()">Modifier</button>
                      </ng-template>
                  
                </nz-modal>

