<div class="row">
    <div class="col-lg-4">
        <div class="card-box" style="height: 505px; overflow-y: scroll;">
        <ul class="nav nav-tabs">
          <li class="nav-item">
              <a data-toggle="tab" aria-expanded="true" (click)="view=true" class="nav-link {{view?'active':''}}">
                  <i class="icon-user"></i>Utilisateurs
              </a>
          </li>
          <li class="nav-item">
              <a data-toggle="tab" aria-expanded="false" (click)="view=false" class="nav-link {{!view?'active':''}}">
                  <i class="icon-people"></i> Groupes
              </a>
          </li>
        </ul>

        <div><br/></div>
        <div class="inbox-widget" *ngIf="view">
            <a *ngFor="let u of users">
                <div class="inbox-item" (click)="switch_user(u)" *ngIf="u.id!=user.id">
                    <div class="inbox-item-img"><img src="{{g_var.url}}api/auth/files/{{u.id}}" class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author">{{u.name}}&nbsp;{{u.lastName}}</p>
                    <p class="inbox-item-text">{{u.username}}</p>
                </div>
            </a>
           
        </div>

        <div class="inbox-widget"  *ngIf="!view">
            <a *ngFor="let g of groupes">
                <div class="inbox-item"  (click)="switch_groupe(g)">
                    <div class="inbox-item-img"><img src="assets/img/groupes.png" class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author">{{g.groupe.nom}}</p>
                    <p class="inbox-item-text">({{g.users.length}}) utilisateurs</p>
                </div>
            </a>
           
        </div>


        </div>
    </div>

    <div class="col-lg-8" *ngIf="view">
        <div class="card-box task-detail" *ngIf="user_chat.id">
            <div class="media mt-0 m-b-30">
                <img class="d-flex mr-3 rounded-circle" alt="64x64" src="{{g_var.url}}api/auth/files/{{user_chat.id}}" style="width: 48px; height: 48px;">
                <div class="media-body">
                    <h5 class="media-heading mb-0 mt-0">{{user_chat.name}}&nbsp;{{user_chat.lastName}}</h5>
                    <span class="badge badge-danger">{{user_chat.username}}</span>
                </div>
            </div>
            <div *ngFor="let item of items | async">

                <div  *ngIf="((user.id==item.user1||user.id==item.user2) && (user_chat.id==item.user1||user_chat.id==item.user2))">
                      <div class="row" style="height: 350px; overflow-y: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                          <div *ngFor="let msg of item.msgs | keyvalue:desc"  class="col-lg-12" style="margin-top: 2px;margin-bottom: 2px">
                            <span class="badge badge-{{user.id==msg.value.id?'secondary':'success'}} pull-{{user.id==msg.value.id?'left':'right'}}" style="font-size: unset;text-align: left;">
                               {{msg.value.msg}} 
                               <br/>
                              <small>({{msg.key}})&nbsp;{{msg.value.date| date:'yyyy-MM-dd HH:mm'}}</small>
                            </span>
                          </div> 

                          <a></a>
                      </div>

                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="item.msg" placeholder="Votre texte ici ..." aria-label="Recipient's username" aria-describedby="basic-addon2"/>
                        <div class="input-group-append">
                            <a class="btn btn-dark waves-effect waves-light" (click)="add_msg(item.msg,item.key,item)" type="button">Envoyer</a>
                        </div>
                    </div>
               </div>     

            </div>
 

        </div>
    </div>




    <div class="col-lg-8" *ngIf="!view">
        <div class="card-box task-detail" *ngIf="groupe_chat.groupe.id">
            <div class="media mt-0 m-b-30">
                <img class="d-flex mr-3 rounded-circle" alt="64x64" src="assets/img/groupes.png" style="width: 48px; height: 48px;">
                <div class="media-body">
                    <h5 class="media-heading mb-0 mt-0">{{groupe_chat.groupe.nom}}</h5> 
                </div>
            </div>
            <div *ngFor="let item of items_groupes | async">

                <div  *ngIf="item.id==groupe_chat.groupe.id">
                      <div class="row" style="height: 350px; overflow-y: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                          <div *ngFor="let msg of item.msgs | keyvalue; index as i"  class="col-lg-12" style="margin-top: 2px;margin-bottom: 2px">
                            <span class="badge badge-{{user.id==msg.value.id?'secondary':'success'}} pull-{{user.id==msg.value.id?'left':'right'}}" style="font-size: unset;text-align: left;">
                               {{msg.value.msg}} 
                               <br/>
                              <small>{{msg.value.date| date:'yyyy-MM-dd HH:mm'}}</small>
                            </span>
                          </div> 

                          <a></a>
                      </div>

                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="item.msg" placeholder="Votre texte ici ..." aria-label="Recipient's username" aria-describedby="basic-addon2"/>
                        <div class="input-group-append">
                            <a class="btn btn-dark waves-effect waves-light" (click)="add_msg_groupe(item.msg,item.key,item)" type="button">Envoyer</a>
                        </div>
                    </div>
               </div>     

            </div>
 

        </div>
    </div>
</div>                                
 <!--<div class="row">
                            <div class="col-lg-12">
                                <div class="search-result-box card-box">
<div class="container">
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="col-md-12">
              <h4>Mes discussions</h4>
            </div>
             
          </div>
          <div class="inbox_chat">
            <div *ngFor="let user of users" class="chat_list {{user_chat.id==user.id?'active_chat':''}}">
              <div class="chat_people" (click)="switch_user(user)">
                <div class="chat_img"> <img src="assets/img/no-image.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{user.name}}&nbsp;{{user.lastName}}<span class="chat_date">Dec 25</span></h5>
                </div>
              </div>
            </div>
           
             <div id="bottom" style="height: 50px;"></div>  
          </div>
        </div>
        <div *ngFor="let item of items | async" >
         <div *ngIf="((user.id==item.user1||user.id==item.user2)&&
                      (user_chat.id==item.user1||user_chat.id==item.user2))" class="mesgs">
 
          <div class="msg_history">
              <div *ngFor="let msg of item.msgs | keyvalue; index as i" class="{{user.id==msg.value.id?'outgoing_msg':'received_msg'}}">
                <div class="{{user.id==msg.value.id?'received_withd_msg':'sent_msg'}}">
                  <p>{{msg.value.msg}}</p>
                  <span class="time_date"> {{msg.value.date| date:'yyyy-MM-dd HH:mm'}}</span> </div>
              </div>
             
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" [(ngModel)]="item.msg" placeholder="Votre texte ici" />
              <button class="msg_send_btn" type="button" (click)="add_msg(item.msg,item.key,item)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>

         </div> 
        </div>
      </div>
            
    </div></div>

       </div>
            
    </div></div>

    <style type="text/css">
      .container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 450px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 416px;
  overflow-y: auto;
}
    </style>-->